<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="sqlcafe" type="SqlCafe2.Configuration.SqlCafeSection, SqlCafe2" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    <sqlcafe>
        <httpClient baseAddress="https://api.example.com" timeout="00:01:00" retry="3">
            <defaultRequestHeaders>
                <add key="Accept" value="application/json" />
                <add key="User-Agent" value="MyApp/1.0" />
            </defaultRequestHeaders>
        </httpClient>
        <connectionStringsEx>
            <add name="A" source="a" providerName="SqlServer" />
            <add name="B" source="a" providerName="Sqlite" />
        </connectionStringsEx>
    </sqlcafe>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>